
.tabsFlex {
  display: flex;
  margin: 10px;
}

.tabs {
  margin: 10px;
}



.container {
  height: 200px;
  background: #f1f1f1;
  margin: 50px auto;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
  justify-content: center;
}

.content-tabs {
  text-align: center;
}


